$shadow-color: #9ca3af;

.shadow {
  color: var(--text-color-gray-900);
  transition: all 0.1s;
  box-shadow: 6px 6px 0px 1px $shadow-color;
}

.shadow--press:focus {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0px 1px $shadow-color;
}

.shadow--zoom {
  box-shadow: 2px 2px 0px 1px $shadow-color;
}

.shadow--zoom:hover {
  transform: translate(-1px, -1px);
  box-shadow: 7px 7px 0px 1px $shadow-color;
}

.shadow--zoom:active {
  transform: translate(0, 0);
  box-shadow: 2px 2px 0px 1px $shadow-color;
}
