@import "@jogarcia/mgrid/container.scss";

@import "./variables";
@import "./general-styles";

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-color-primary) !important;
}

.text {
  color: var(--text-color-gray-900);
  transition: all 0.1s;
  --shadow-color: #9ca3af;
  box-shadow: 6px 6px 0px 1px var(--shadow-color);
}

.text:focus {
  transform: translate(2px, 2px);
  box-shadow: 4px 4px 0px 1px var(--shadow-color);
}
