@import "@jogarcia/mgrid/container.scss";

@import "./variables";
@import "./general-styles";

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-color-primary) !important;
}

.top-bar {
  display: none;
}

@media screen and (min-width: 835px) {
  .top-bar {
    display: block;
  }
}

@media screen and (min-width: 835px) {
  .base-gradient,
  .bottom-nav {
    display: none;
  }
}

#menu-content {
  z-index: 190;
}

.scroll-icon {
  animation: up-and-down 1s infinite ease-out;
}

@keyframes up-and-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
