@import "@jogarcia/mgrid/container.scss";

@import "./variables";
@import "./general-styles";
@import "./shadow-depth";

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-color-primary) !important;
}
