---
import Base from "@/layouts/Base.astro";

import SectionHero from "@/components/SectionHero.astro";
import SectionAbout from "@/components/SectionAbout.astro";
import SectionSkills from "@/components/SectionSkills.astro";
import SectionProjects from "@/components/SectionProjects.astro";
import SectionAdditionalWork from "@/components/SectionAdditionalWork.astro";
import SectionContacts from "@/components/SectionContacts.astro";
---

<Base>
  <main class="container mx-auto">
    <SectionHero id="home" />
    <SectionAbout id="about" />
    <SectionSkills id="skills" />
    <SectionProjects id="projects" />
    <SectionAdditionalWork id="additional-work" />
    <SectionContacts id="contacts" />

    <div class="mt-20 pt-10 sm:mt-0 content"></div>
  </main>
</Base>

<script is:inline>
  window.addEventListener("load", () => {
    window.history.replaceState({}, "", "/");
  });
</script>

<style>
  .back-to-top {
    visibility: hidden;
  }

  @media screen and (min-width: 835px) {
    .back-to-top {
      visibility: visible;
    }
  }
</style>
