---

---

<div class="h-36 -mb-16 gradient"></div>

<style lang="scss" scoped>
  .gradient {
    background: linear-gradient(
      180deg,
      var(--color-primary) 0%,
      var(--color-primary) 20%,
      var(--bg-color-primary) 100%
    );
  }
</style>
