---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import BaseButton from "./BaseButton.astro";
import SocialIconsBase from "./SocialIconsBase.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { links } = Astro.props;
---

<nav class="flex flex-col">
  <div class="relative flex flex-col items-center">
    <ul
      id="bottom-nav-links-container"
      class="text-center bg-primary pt-2 rounded-t-md links links--hidden"
    >
      {
        links.map((link) => (
          <li class="bottom-nav-link navbar__link">
            <a href={link.link} class="block text-xl w-full px-10 py-3">
              {t(link.text)}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="buttons flex justify-center bg-primary px-3 text-2xl">
    <div id="bottom-nav-change-language-button">
      <BaseButton title="Translate" class="navbar__link" icon>
        <SocialIconsBase icon="mdiTranslate" />
      </BaseButton>
    </div>
    <div id="bottom-nav-change-theme-button">
      <BaseButton title="Theme change" class="navbar__link" icon v-on="on">
        <SocialIconsBase icon="mdiInvertColors" />
      </BaseButton>
    </div>
    <div id="links-button">
      <BaseButton
        title="Menu"
        class="navbar__link"
        icon
        @click="isHidden = !isHidden"
      >
        <SocialIconsBase icon="mdiMenu" />
      </BaseButton>
    </div>
  </div>
</nav>

<script>
  import { changeLanguage } from "@/i18n/utils";
  import { scrollToPosition } from "@/utils/scrollToPosition";
  import { toggleTheme } from "@/stores/themeStore";

  let isLinksContainerHidden = true;

  const linksContainer = document.getElementById("bottom-nav-links-container");
  const links = linksContainer.children;
  const themeButton = document.getElementById("bottom-nav-change-theme-button");

  themeButton.addEventListener("click", () => {
    toggleTheme();
  });

  for (let i = 0; i < links.length; i++) {
    links[i].addEventListener("click", (event) => {
      event.preventDefault();
      const linkHref = links[i].children[0].getAttribute("href");
      scrollToPosition(linkHref);
    });
  }

  linksContainer.classList.add("links--hidden");

  const linksButton = document.getElementById("links-button");
  linksButton.addEventListener("click", () => {
    isLinksContainerHidden = !isLinksContainerHidden;
    isLinksContainerHidden
      ? linksContainer.classList.add("links--hidden")
      : linksContainer.classList.remove("links--hidden");
  });

  const changeLanguageButton = document.getElementById(
    "bottom-nav-change-language-button",
  );

  changeLanguageButton.addEventListener("click", changeLanguage);
</script>

<style lang="scss">
  app-links li {
    display: inline;
  }

  .buttons {
    z-index: 20;
  }

  .links {
    position: absolute;
    transition: all 0.3s linear;
    z-index: 10;
    bottom: 0;
  }

  .links--hidden {
    bottom: -300px;
  }
</style>
