---
import BaseSection from "./BaseSection.vue";
import BaseCard from "./BaseCard.vue";
import SocialIconsBase from "./SocialIconsBase.vue";
import ChipRiver from "./ChipRiver.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const skills = [
  {
    name: "Frontend",
    icon: "mdiCodeTags",
    description: "frontendDescription",
    technologies: [
      "HTML5",
      "CSS3",
      "SCSS",
      "Tailwind CSS",
      "Bootstrap",
      "Vuetify",
      "Javascript",
      "Typescript",
      "Vue.js",
      "Nuxt.js",
    ],
  },
  {
    name: "Backend",
    icon: "mdiServer",
    description: "backendDescription",
    technologies: ["Javascript", "PHP", "Node.js", "Express.js", "Laravel"],
  },
  {
    name: "Database",
    icon: "mdiDatabase",
    description: "databaseDescription",
    technologies: ["MariaDB", "MySQL", "PostgreSQL", "MongoDB"],
  },
  {
    name: "Testing",
    icon: "mdiBug",
    description: "testingDescription",
    technologies: ["Mocha", "Chai", "Jest", "Vitest"],
  },
  {
    name: "Languages",
    icon: "mdiTranslate",
    description: "languagesDescription",
    technologies: ["English", "Español"],
  },
];
---

<BaseSection
  class="items-center justify-center"
  title={t("skills")}
  titleAlignment=""
  id="skills"
>
  <div class="flex flex-col">
    {
      skills.map((skill) => (
        <BaseCard class="bg-secondary md:mx-4 py-4">
          <div class="flex p-0 md:p-3">
            <div>
              <SocialIconsBase
                height="100px"
                width="100px"
                class="w-20 md:w-32 color-primary"
                icon={skill.icon}
              />
            </div>

            <div class="flex flex-col ml-5">
              <h3 class="text-2xl">{skill.name}</h3>
              <p>{t(skill.description)}</p>
              <ChipRiver values={skill.technologies} class="mt-2" />
            </div>
          </div>
        </BaseCard>
      ))
    }
  </div>
</BaseSection>
