---
import BaseSection from "./BaseSection.astro";
import BaseCard from "./BaseCard.astro";
import CardFeature from "./CardFeature.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseSection title="" titleAlignment="" class:list="container" id="about">
  <div class="flex justify-center flex-wrap">
    <div class="flex flex-col justify-center max-w-xl">
      <h2 class="mb-5 text-3xl text-5xl self-start text-left">
        {t("about")}
      </h2>
      <p>
        {t("aboutText1")}
      </p>
      <p class="mt-4">
        {t("aboutText2")}
      </p>
      <p class="mt-4">
        {t("aboutText3")}
      </p>
    </div>
    <div class="flex justify-center jose-img md:ml-20" style="">
      <picture class="w-80 h-fit">
        <source
          sizes="(min-width: 347px)"
          type="image/avif"
          srcset="
              /projects/picture-man-min.1280.avif 1280w,
              /projects/picture-man-min.640.avif   640w
            "
        />
        <source
          type="image/webp"
          sizes="(min-width: 347px)"
          srcset="
              /projects/picture-man-min.1280.webp 1280w,
              /projects/picture-man-min.640.webp   640w
            "
        />
        <img
          class="w-full h-auto rounded-lg mt-10 lg:mt-0"
          decoding="async"
          loading="lazy"
          width="1256"
          height="1004"
          alt="Owner of this portfolio"
          srcset="
              /projects/picture-man-min.1280.jpg 1280w,
              /projects/picture-man-min.640.jpg   640w
            "
        />
      </picture>
    </div>
  </div>
  <div class="flex flex-col justify-center sm:flex-row mt-16">
    <div class="flex flex-col md:flex-row">
      <BaseCard transparent class="w-full md:mr-1 py-4">
        <CardFeature
          title={t("intuitive")}
          icon="mdiLightbulb"
          alt="Intuitive icon"
        >
          <p class="md:text-center md:mx-3">
            {t("intuitiveText")}
          </p>
        </CardFeature>
      </BaseCard>
      <BaseCard transparent class="w-full md:mx-1 py-4">
        <CardFeature title={t("fast")} icon="mdiRocketLaunch" alt="Fast icon">
          <p class="md:text-center md:mx-3">
            {t("fastText")}
          </p>
        </CardFeature>
      </BaseCard>
    </div>
    <div class="flex flex-col md:flex-row">
      <BaseCard transparent class="w-full md:mr-1 py-4">
        <CardFeature
          title={t("responsive")}
          icon="mdiResponsive"
          alt="Responsive icon"
        >
          <p class="md:text-center md:mx-3">
            {t("responsiveText")}
          </p>
        </CardFeature>
      </BaseCard>
      <BaseCard transparent class="w-full md:mx-1 py-4">
        <CardFeature
          title={t("reactive")}
          icon="mdiAlphaRCircle"
          alt="Reactive icon"
        >
          <p class="md:text-center md:mx-3">
            {t("reactiveText")}
          </p>
        </CardFeature>
      </BaseCard>
    </div>
  </div>
</BaseSection>
