---
import BaseSection from "./BaseSection.astro";
import CardProject from "./CardProject.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

import monarchStarterSite from "../assets/monarch-starter-site.jpg";
import johnsonTurbineSupport from "../assets/johnson-turbine-support-website.jpg";
import monarchStarterAdminDashboard from "../assets/monarch-starter-admin-dashboard.jpg";
import stepper from "../assets/vue-simple-stepper.jpg";
import vspAirshow from "../assets/vsp-airshow-project.jpg";
import metatron from "../assets/metatron.jpg";
import expensesTracker from "../assets/expenses-tracker.jpg";
import succubusBlog from "../assets/blog-succubus.jpg";
import translations from "../assets/translations-manager.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
  {
    src: monarchStarterSite,
    title: "MonarchStarter",
    link: "https://monarchstarter.jose-garcia.net/",
    alt: "Queues app picture",
  },
  {
    src: johnsonTurbineSupport,
    title: "Johnson Turbine Support",
    link: "https://www.johnsonturbine.com/",
    alt: "Jhonson Turbine company's portfolio site.",
  },
  {
    src: monarchStarterAdminDashboard,
    title: "Admin dashboard",
    link: "https://monarchstarter.jose-garcia.net/dashboard",
    alt: "Site of all asian culture fanatics",
  },
  {
    src: stepper,
    title: "Vue Simple Stepper",
    link: "https://stepper.jose-garcia.net/",
    alt: "Documentation site of stepper component",
  },
  {
    src: vspAirshow,
    title: "VSP Airshow",
    link: "https://airshow.openvsp.org/",
    alt: "VSP Airshow site.",
  },

  //  {
  //    src: succubusTest,
  //    title: "Succubus Poll",
  //    link: "https://test.succubus-bdsm.com",
  //    alt: "Succubus BDSM poll",
  //  },
  {
    src: metatron,
    title: "Metatron",
    link: "https://metatron.jose-garcia.net",
    alt: "Metatron the blog",
  },
  {
    src: expensesTracker,
    title: "Expenses Tracker",
    link: "https://expenses-tracker.jose-garcia.net",
    alt: "Expenses Tracker app",
  },
  {
    src: succubusBlog,
    title: "Succubus Blog",
    link: "https://blog.succubus-bdsm.com",
    alt: "Succubus the blog",
  },

  {
    src: translations,
    title: "Translations Manager",
    link: "https://translations-manager.jose-garcia.net/",
    alt: "Translations Manager",
  },
];
---

<BaseSection title={t("projects.title")} titleAlignment="" id="projects">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      projects.map((project) => (
        <CardProject
          class="w-full"
          title={project.title}
          siteUrl={project.link}
          src={project.src}
          alt={project.alt}
        />
      ))
    }
  </div>
</BaseSection>
