---
import BaseSection from "./BaseSection.astro";
import CardProject from "./CardProject.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

import stackOverflowProfile from "../assets/stack-overflow-profile.jpg";
import githubProfile from "../assets/github-profile.jpg";
import mediumProfile from "../assets/medium-profile.jpg";
import npmProfile from "../assets/npm-profile.jpg";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
  {
    src: stackOverflowProfile,
    title: "StackOverflow",
    link: "https://stackoverflow.com/users/10824037/jogarcia",
    alt: "StackOverflow Profile",
  },
  {
    src: githubProfile,
    title: "GitHub",
    link: "https://github.com/Tauromachian",
    alt: "GitHub Profile",
  },
  {
    src: mediumProfile,
    title: "Medium",
    link: "https://medium.com/@jogarcia",
    alt: "Medium Profile",
  },
  {
    src: npmProfile,
    title: "NPM",
    link: "https://www.npmjs.com/~jogarcia",
    alt: "Medium Profile",
  },
];
---

<BaseSection
  title={t("additionalWork.title")}
  titleAlignment=""
  id="additional-work"
>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      projects.map((project) => (
        <div class="col-span-1">
          <CardProject
            class="w-full"
            title={project.title}
            siteUrl={project.link}
            src={project.src}
            alt={project.alt}
          />
        </div>
      ))
    }
  </div>
</BaseSection>
