---
import BaseSection from "./BaseSection.vue";
import CardProject from "./CardProject.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const projects = [
  {
    src: "monarch-starter-site",
    title: "MonarchStarter",
    link: "https://monarchstarter.jose-garcia.net/",
    alt: "Queues app picture",
  },
  {
    src: "johnson-turbine-support-website",
    title: "Johnson Turbine Support",
    link: "https://www.johnsonturbine.com/",
    alt: "Jhonson Turbine company's portfolio site.",
  },
  {
    src: "succubus",
    title: "Succubus",
    link: "https://www.succubus-bdsm.com/",
    alt: "Succubus site",
  },

  {
    src: "zaru",
    title: "Zaru Arquitectura",
    link: "https://zaruarquitectura.onrender.com/",
    alt: "Site of architectural displays.",
  },
  {
    src: "monarch-starter-admin-dashboard",
    title: "Admin dashboard",
    link: "https://monarchstarter.jose-garcia.net/dashboard",
    alt: "Site of all asian culture fanatics",
  },
  {
    src: "vue-simple-stepper",
    title: "Vue Simple Stepper",
    link: "https://stepper.jose-garcia.net/",
    alt: "Documentation site of stepper component",
  },
  {
    src: "ghost-cms",
    title: "Casper Theme",
    link: "https://demo.ghost.io/",
    alt: "Ghost CMS's theme called Casper",
  },
  {
    src: "succubus-test",
    title: "Succubus Poll",
    link: "https://test.succubus-bdsm.com",
    alt: "Succubus BDSM poll",
  },
  {
    src: "compound-calculator",
    title: "Compound Calculator",
    link: "https://compounder.pro-link.xyz/",
    alt: "Compound Interest Calculator",
  },
];
---

<BaseSection title={t("projects.title")} titleAlignment="" id="projects">
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4">
    {
      projects.map((project) => (
        <div class="col-span-1">
          <CardProject
            class="w-full"
            title={project.title}
            siteUrl={project.link}
            src={project.src}
            alt={project.alt}
          />
        </div>
      ))
    }
  </div>
</BaseSection>
