---
import BaseButtonCallToAction from "./BaseButtonCallToAction.astro";
import SocialIconsBase from "./SocialIconsBase.vue";
import ZDog from "./ZDog.vue";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col lg:flex-row mb-32 p-3 relative" id="home">
  <div
    class="flex flex-col h-full justify-center hero__text md:mr-5 xl:mr-0 md:basis-1/2 shrink-0"
  >
    <h1 class="text-6xl xl:text-7xl 2xl:text-8xl">
      {t("hero.title")}
    </h1>
    <p class="mt-10 text-xl">
      <strong>
        {t("hero.description1")}
      </strong>
    </p>
    <p class="text-xl">
      <strong>
        {t("hero.description2")}
      </strong>
    </p>
    <div
      class="flex flex-col sm:flex-row lg:flex-col xl:flex-row max-w-sm sm:max-w-none"
    >
      <BaseButtonCallToAction
        downloadLink="/cv.pdf"
        class="mt-12 text-center"
        prependIcon="mdiDownload"
        size="x-large"
      >
        {t("hero.button1")}
      </BaseButtonCallToAction>
      <div
        id="contactButton"
        class="mt-2 sm:mt-12 lg:mt-2 xl:mt-12 sm:ml-2 lg:ml-0 xl:ml-2"
      >
        <BaseButtonCallToAction
          class="w-full"
          outline
          prependIcon="mdiEmail"
          size="x-large"
        >
          {t("hero.button2")}
        </BaseButtonCallToAction>
      </div>
    </div>
  </div>

  <ZDog client:visible class="mt-10 md:mt-0 md:basis-1/2" :key="zdogKey" />

  <SocialIconsBase
    class="absolute invisible xl:visible ml-2 scroll-icon"
    width="50px"
    height="50px"
    icon="mdiChevronTripleDown"
  />
</section>

<script>
  import { scrollToPosition } from "@/utils/scrollToPosition";

  const contactButton = document.getElementById("contactButton");
  contactButton.addEventListener("click", () => scrollToPosition("contacts"));
</script>

<style scoped lang="scss">
  @media screen and (min-width: 1024px) {
    section {
      height: calc(100vh - 64px);
    }
  }

  .hero__code .code-toolbar {
    height: 100% !important;
  }

  .scroll-icon {
    animation: up-and-down 1s infinite ease-out;
    bottom: 0.4em;
  }

  @keyframes up-and-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
