---
import ListWrapper from "./ListWrapper.astro";
import ListItem from "./ListItem.astro";

const { themes } = Astro.props;
---

<ListWrapper>
  <ul class="list-none">
    {
      themes.map((theme) => (
        <li class="list-item">
          <ListItem class="text-xl ">{theme.text}</ListItem>
        </li>
      ))
    }
  </ul>
</ListWrapper>

<script>
  import { selectedTheme } from "@/stores/themeStore";
  const listItems = document.getElementsByClassName("list-item");

  for (let i = 0; i < listItems.length; i++) {
    listItems[i].addEventListener("click", function (event) {
      selectedTheme.set(listItems[i].textContent.toLowerCase());
    });
  }
</script>

<style lang="scss" scoped></style>
