---
import SocialIconsBase from "./SocialIconsBase.astro";
---

<style>
  .floating-button {
    border-color: var(--color-primary);
    color: var(--color-primary);
    -webkit-animation: shake-horizontal 0.6s
      cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
    animation: shake-horizontal 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
  }

  @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    80% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    90% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
      transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
      transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
  }
</style>

<button
  title="Go to top"
  class="hidden rounded-lg w-12 h-12 fixed z-50 bottom-7 right-7 outline-none border-2 bg-transparent transition-all transition-500 text-2xl floating-button"
  id="floating-button"
>
  <SocialIconsBase
    class="ml-2 z-70"
    icon="arrow-up"
    width="28px"
    height="30px"
  />
</button>

<script>
  import debounce from "basic-debouncer";

  const floatingButton = document.getElementById("floating-button");
  floatingButton.addEventListener("click", scrollToTop);
  displayIfScrolled();

  window.addEventListener("scroll", () => {
    debounce(displayIfScrolled, 10);
  });

  function displayIfScrolled() {
    if (document.documentElement.scrollTop > 20) {
      floatingButton.classList.add("block");
      floatingButton.classList.remove("hidden");
    } else {
      floatingButton.classList.add("hidden");
      floatingButton.classList.remove("block");
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth",
    });
  }
</script>
